<div class="about-container">
    <div class="about-header">
        <h1>Au Petit village</h1>
        <p>Découvrez notre histoire et notre passion pour les figurines inspirées d'Astérix & Obélix.</p>
    </div>

    <div class="about-content">
        <div class="about-text">
            <h2>Notre Histoire</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id mi eu interdum. Donec eget elit vitae libero aliquet tempor.</p>
            <p>Integer nec libero sed orci congue lobortis. Nulla nec maximus dui, at tempus risus.</p>
            <p>Fusce vel convallis nunc. Aliquam nec mi in metus feugiat ultrices vel ac ligula.</p>
            <p>Fusce vel convallis nunc. Aliquam nec mi in metus feugiat ultrices vel ac ligula.</p>
            <p>Fusce vel convallis nunc. Aliquam nec mi in metus feugiat ultrices vel ac ligula.</p>
            <p>Fusce vel convallis nunc. Aliquam nec mi in metus feugiat ultrices vel ac ligula.</p>
            <p>Fusce vel convallis nunc. Aliquam nec mi in metus feugiat ultrices vel ac ligula.</p>
            <p>Fusce vel convallis nunc. Aliquam nec mi in metus feugiat ultrices vel ac ligula.</p>
            <p>Fusce vel convallis nunc. Aliquam nec mi in metus feugiat ultrices vel ac ligula.</p>
        </div>
        <div class="about-image">
            
        </div>
    </div>
</div>
